body, html {
    height: 100%;
}

body {
    font-family: Bad Script;
    background-image: url(back.jpg);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f379b2;
}

.circle_photo {
    border: 2px solid white;
    margin-left: 25px;
    background-image: url(vika.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 100%;
}

h1 {
    width: 100%;
    background: #f379b2;
    color: white;
    margin: 0;
    padding: 10px 28px;
    font-weight: normal;
}

input {
    background: #FFE5F1;
    font-family: Bad Script;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left: 25px;
    border: 3px solid #f379b2;
    color: #FF8FC3;
}

input:focus {
    border: 3px solid #c01a1a;
    outline: none;
    color: #c01a1a;
}

span.todo-trash {
    text-align: center;
    height: 50px;
    width: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s linear;
}

i {
    cursor: pointer;
}

button {
    background-color: #f379b2;
    border: 2px solid #f379b2;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Bad Script;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.clear, .tipBtn {
    background-color: white;
    color: #D1568F;
    padding: 8px 20px;
}

button:hover {
    background-color: #D1568F;
    border: 2px solid #D1568F;
    color: white;
}

#buttons {
    display: inline-block;
    text-align: center;
    margin: 20px 25px;
}

#todo {
    margin: 0 auto;
    box-shadow: 0 0 1em white;
    max-width: 500px;
    height: 100%;
    background: white;
    position: relative;
    border-radius: 14px;
}

#overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#overlay .closeTips {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color: #86a8e7;
    cursor: pointer;
}

#overlay li {
    padding: 8px;
    list-style-type: circle;
    font-size: 30px;
    color: #818181;
    display: block;
}

.todos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todos li {
    background: rgb(255, 238, 246);
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 30px;
}

.todos li span.todo-text {
    padding: 0 8px;
}

.todos li:nth-child(2n) {
    background: #ffdcec;
}

.todos li:hover span.todo-trash {
    width: 50px;
    opacity: 1.0;
    margin-left: 5px;
}

.display {
    display: none;
    transition: 0.3s linear;
}

.checked {
    color: #f6accf;
    text-decoration: line-through;
}

.fa-pencil-alt {
    float: right;
    padding-top: 13px;
}

.fa-trash-alt {
    float: right;
    padding: 15px;
    color: #979797;
}

.fa-trash-alt:hover {
    color: #cf4949;
}

.tips {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

/*  if screen size less than 450px, resize tips lists and close btn so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    #todo {
        width: 100%;
        height: 100%;
    }
}